.hero-section {
    background-color: #00b3dc;
    padding: 44px 86px;
    color: #fff;
    width: 100%;
    display: flex;
}

.sub-heading {
    font-size: 30px;
    margin-bottom: 12px;
}   

.hero-title {
    font-size: 96px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.left-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-left: 20%;
    flex-direction: column;
}

.right-section {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}