.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #fff;
    color: #000;
}

.search-bar input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.navbar-icons {
    display: flex;
    gap: 2rem;
    align-items: center;
}

.navbar-links a {
    margin: 0 1rem;
    text-decoration: none;
    color: inherit;
    hover {
        cursor: pointer;
    }
}